.maachine_pies{
	border: dashed;
	text-align: center;
	font-size: 20px;
	font-family: Arial;
}

.svarte_petter_pie{ 
} 

.graph{ 
	width: 25%; 
	display: inline-block; 
	border: dashed; 
	margin: 10px;
} 
	
.graph_holder{ 
	/* border: dashed; 
	display: flex; */
	text-align: center;
	justify-content: center; 
	align-items: center; 
}
